@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/guava/filament-icon-picker/resources/**/*';
@source '../../../../vendor/jaocero/radio-deck/resources/views';
